<DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Some Website</title>
    </head>
    <body>
        <h1>we'll be right back...</h1>
        <p>this site is being updated.....</p>
    </body>
</html>